<!DOCTYPE html>
<html>
  <head>
    <meta name="keywords" content="NSP" />
    <meta name="description" content="NSP" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <%- styles %>
  </head>
  <script>
    window.__initModel__ =<%- JSON.stringify(initModel) %>
  </script>
  <body>
    <div id="app"><%- html %></div>
    <%- scripts %>
  </body>
</html>
