<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- styles %>
  </head>
  <script>
    window.__initModel__ =<%- JSON.stringify(initModel) %>
  </script>
  <body>
    <div id="app"><%- html %></div>
    <!-- 兼容ie9  -->
    <script src="https://oss-file-bucket.oss-cn-hangzhou.aliyuncs.com/gaokao/gaokao/profile.min.js"></script>
    <%- scripts %>
  </body>
</html>
